<div class="jumbotron">
<div class="container">
  <div class="section card mb-6">
  <form [formGroup]="registerForm" (ngSubmit)="submit()">
    <div class="card-body">
    <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationTooltip01">User ID</label>
      <input type="number" formControlName="userID" class="form-control" placeholder="User ID">
    </div>
    </div>
    <div class="col-md-6 mb-3 alert alert-danger" *ngIf="!registerForm.controls['userID'].valid && registerForm.controls['userID'].touched">Please enter the User ID</div>
    <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationTooltip02">First Name</label>
      <input type="text" class="form-control" formControlName="firstName" placeholder="First name">
       </div>
       </div>
       <div class="col-md-6 alert alert-danger" *ngIf="!registerForm.controls['firstName'].valid && registerForm.controls['firstName'].touched">Please enter the Last Name</div>
     <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="enterEmail">Email Address</label>
          <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
           </div>
           </div>
           <div class="col-md-6 alert alert-danger" *ngIf="!registerForm.controls['email'].valid && registerForm.controls['email'].touched">Please enter the valid Email-ID</div>
      <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="gender">Gender</label>
            <select name="gender" formControlName="gender" class="form-control">
            <option value="" selected disabled>select</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
             </div>
          </div>
          <div class="col-md-6 alert alert-danger" *ngIf="!registerForm.controls['gender'].valid && registerForm.controls['gender'].touched">Please select the gender</div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="City">City</label>
      <input type="text" class="form-control" formControlName="city" placeholder="City">
     </div>
     
    <div class="col-md-3 mb-3">
      <label for="State">State</label>
      <input type="text" class="form-control" formControlName="state" placeholder="State">
      </div>
    <div class="col-md-3 mb-3">
      <label for="zip">Zip</label>
      <input type="number" class="form-control" formControlName="zip" placeholder="Zip" required>
      </div>
  </div>
  <div class="form-row">
  <div class="col-md-6 alert alert-danger" *ngIf="!registerForm.controls['city'].valid && registerForm.controls['city'].touched">Please enter the city</div>
  <div class="col-md-3 alert alert-danger" *ngIf="!registerForm.controls['state'].valid && registerForm.controls['state'].touched">Please enter the state</div>
  <div class="col-md-3 alert alert-danger" *ngIf="!registerForm.controls['zip'].valid && registerForm.controls['zip'].touched">Please enter the Zip code</div>
    </div>
  <div class="form-row">
      <div class="col-md-6 mb-3">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password" placeholder="password" required>
       </div>
        <div class="col-md-6 mb-3">
            <label for="password1">Confirm password</label>
            <input type="password" class="form-control" formControlName="password1" placeholder="password" required>
         </div> 
  </div>
  <div class="form-row">
  <div class="col-md-6 alert alert-danger" *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched">Please fill the field</div>
  <div class="col-md-6 alert alert-danger" *ngIf="!registerForm.controls['password1'].valid && registerForm.controls['password1'].touched">Please fill the field</div>
</div>
  <button class="btn btn-info" type="submit" [disabled]="!registerForm.valid">Register</button>

</div>
</form>
</div>
</div>
</div>